<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="jobs" routerLinkActive="active" class="nav-link" >Jobs List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-job" routerLinkActive="active" class="nav-link" >Add Job</a>
        </li>
    </ul>
</nav>
<div class = "container">
    <router-outlet></router-outlet>
</div>

<footer class = "footer">
    <div class = "container">
        <span>All Rights Reserved 2022 @Akansha</span>
    </div>
</footer>
